
#showDiv{
    width: 80%;
  
    margin-left: 10%;
}
.title{
	font-size: 20px;
	text-align: center;

}
#showDiv a{
text-decoration:none;
}

#showDiv input{
    background-color:#a1a1a1;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 5%;
    width:60%;
    border:2px solid #a1a1a1;
     border-radius: 15px;
    -moz-border-radius:15px;
   font-size: 20px;
}
#showDiv div span{
    font-size: 20px;
}