html,body {
			height:100%;
			width : 100%;
			font-family:"黑体","微软雅黑";
			font-size: 14px;
		}

body,ul {
			margin:0px;
			padding:0px;
		}
		
ul {
	list-style: none;
}

button ,a {
	outline: none !important;
}
a {
	text-decoration: none;
	color: #fff;
}

#wrap {
	width:100%;
	min-height: 100%;
	background: url(../image/mobilebg.png) repeat-y fixed;	
	background-size:cover;
}

.main {
	width : 320px;
	min-height: 100%;
	margin : 0px auto;
	overflow:hidden;
	zoom:1;
	text-align:center;
}


.main .m-logo {
	 height: 135px;
	 border: 1px solid red;
	 width : 100%;
	 margin-bottom:10px;
	 position: relative;
}